.getStarted {
    font-size: 3rem;
    padding-top: 7rem;
}

.verticalLine {
    display: inline-block;
    border-left: 3px solid #ccc8c8;
    margin: 0 10px;
    height: 75px;
}

.steps {
    width: 250px;
    height: 250px;
}

.testimonials {
    background: #006BD6;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;
    font-size: 2.5rem;
}

.testimonials img {
    width: 5em;
    height: 5em;
    border: 5px solid #006BD6;
    border-radius: 50%;
    margin-top: -4.5em;
}